@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
  font-size: 28px;
  color: white;
  text-align: center;
  line-height: 1.5;
  background-color: #333333;
  padding-top: 20px;
}

nav,
footer {
  padding: 1% 0;
  background-color: #333333;
}

.App__header {
  width: 100%;
  height: 75px;
}

.headerhome {
  color: cyan;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  justify-content: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  color: white;
}

.Header__signed-in {
  /* position: fixed; */
  justify-content: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  color: white;
}

.Header__not-signed-in {
  /* position: fixed; */
  justify-content: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  color: white;
}

header {
  padding: 50px 0px;
  color: cyan;
}

a {
  color: cyan;
}

a:link {
  color: cyan;
}

a:active {
  color: cyan;
}

a:visited {
  color: cyan;
}

a:hover {
  color: black;
}

section {
  min-height: 200px;
  width: initial;
  padding: 10px;
  background-color: #555555;
  color: white;
}

.SignInPage {
  margin-top: 80px;
}

.SignUpPage {
  margin-top: 80px;
}

.homepage {
  background-color:#333333;
  color: cyan;
  padding: 10px;
}

.homeabout {
  background-color: #555555;
  font-size: 14px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.demo {
  background-color: #555555;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.add-link {
  background-color: #333333;
}

fieldset {
  width: initial;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

footer {
  background-color: #333333;
  font-size: 16px;
  color: white;
  padding: 0;
}

button {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
  padding: 10px;
  width: 100px;
  margin: 10px;
  background-color: #333333;
  color: cyan;
}

input {
  margin: 0 auto;
  font-size: 16px;
}

.YTMedia {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 32px;
}

.slogan {
  font-size: 18px;
}

.description {
  font-size: 12px;
}

.YTMedia iframe {
  width: 300px;
  height: 300px;
}

.BCMedia iframe {
  width: 300px;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }

  .slogan {
    font-size: 28px;
  }

  .description {
    font-size: 22px;
  }

  .demo {
    font-size: 24px;
  }

  .homeabout {
    font-size: 20px;
  }

  footer {
    font-size: 18px;
  }

  .YTMedia iframe {
    width: 1000px;
    height: 600px;
  }

  .BCMedia iframe {
    width: 600px;
    height: 400px;
  }

  body {
    padding-top: 80px;
  }

  fieldset {
    margin: 100px;
    padding: 20px;
  }

  .Input {
    font-size: 24px;
    max-width: 45%;
  }
}